certifi==2018.1.18
chardet==3.0.4
Django==2.2.10
django-scheduler==0.8.8
icalendar==4.0.1
idna==2.6
psycopg2==2.7.4
python-dateutil==2.7.1
pytz==2018.3
requests==2.18.4
schedule==0.5.0
six==1.11.0
urllib3==1.22
